<!DOCTYPE html>
<html lang='ru'>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block head %}
<head>
    <meta charset="utf-8">
    {%load static%}
    <link rel="stylesheet" href="{% static "form/style.css" %}">
    {%block title%}
    {% endblock %}
</head>
{% endblock %}
{%block page%}
<body>
    <div class = "container">
    {%block menu%}
    <ul class="menu-bar container p-5 my-5 bg-dark list-inline">
        <li class="list-inline-item"><a href={%url 'form:index'%}>Главная</a></li>
        <li class="list-inline-item"><a href={% url 'form:insert' %}>Добавить</a></li>
        <li class="list-inline-item"><a href={%url 'form:view'%}>Показать список расходов</a></li>
        <li class="list-inline-item"><a href=''>Скачать таблицу</a></li>
    </ul>
    {% endblock %}
    {%block content%}
    {%endblock%}
{%endblock%}
{%block footer%}
{%endblock%}
</body>
</html>